.contacts__name {
  font-weight: 700;
  font-size: 18px;
  color: $color-text;
  margin-bottom: 4px;
}

.contacts__item:nth-of-type(2) .contacts__name {
  margin-bottom: 6px;
}

.contacts__item:nth-of-type(2) {
  margin-bottom: 29px;
  margin-left: 3px;
}

.contacts__value {
  font-weight: 300;
  font-size: 24px;
  color: #d22856;
}

.contacts__value-mail:hover {
  color: $color-text;
  text-decoration: underline;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  color: $color-text;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.contacts__map {
  background: url("../img/bg-map-mobile@1x.png") no-repeat 50% 0;
  background-size: auto 645px;
  min-height: 645px;
}

@media (min-width: $tablet-width) {
  .contacts__name {
    margin-bottom: 7px;
  }

  .contacts__item:nth-of-type(2) .contacts__name {
    margin-bottom: 9px;
  }

  .contacts__item:nth-of-type(3) .contacts__name {
    margin-bottom: 10px;
  }

  .contacts__item {
    display: flex;
    flex-direction: column;
  }

  .contacts__item:nth-of-type(1) {
    padding-left: 17px;
  }

  .contacts__item:nth-of-type(3) {
    margin-right: auto;
    margin-left: auto;
  }

  .contacts__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 560px;
    min-height: 231px;
    margin: 0 auto;
  }

  .contacts__map {
    background: url("../img/bg-map-tablet@1x.jpg") no-repeat 50% 0;
    background-size: auto 848px;
    min-height: 848px;
    margin-bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__name {
    margin-bottom: 25px;
  }

  .contacts__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 880px;
    min-height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .contacts__item:nth-of-type(2) {
    order: 1;
  }

  .contacts__item:nth-of-type(2) .contacts__name {
    margin-bottom: 28px;
  }

  .contacts__item:nth-of-type(3) {
    padding-left: 18px;
  }

  .contacts__item:nth-of-type(3) .contacts__name {
    margin-bottom: 26px;
  }

  .contacts__map {
    background: url("../img/bg-map-desktop@1x.jpg") no-repeat 50% 0;
    background-size: auto 976px;
    min-height: 976px;
  }
}
