.download__button,
.download__text {
  color: hsl(0, 0%, 100%);
}

.download__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.download__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
