.download {
  padding-top: 28px;
  padding-bottom: 17px;
}

.download__wrap {
  width: 280px;
  margin: 0 auto;
}

.download__list {
  display: flex;
  justify-content: space-between;
  width: 210px;
  margin: 0 auto;
  margin-bottom: 18px;
  padding: 0;
}

.download__button,
.download__text {
  color: #ffffff;
}

.download__button {
  display: block;
  min-height: 35px;
  padding-top: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid #ffffff;
  border-radius: 26px;
  margin-bottom: 31px;

  &:hover {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    color: hsla(344, 81%, 48%, 0.3);
  }
}

.download__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.download__item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.download__link {
  display: block;
  position: relative;
  height: 60px;
  width: 60px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 60px;
    background-image: url("../img/logo-apple.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}

.download__link-android::before {
  top: 8px;
  left: 4px;
  height: 50px;
  background-image: url("../img/logo-android.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.download__link-pc::before {
  top: 12px;
  left: 10px;
  height: 50px;
  background-image: url("../img/logo-microsoft.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

@media (min-width: $tablet-width) {
  .download {
    position: relative;
    margin-top: -380px;
    margin-bottom: 76px;
    margin-left: -320px;
    padding-top: 30px;
  }

  .download__list {
    margin-top: 45px;
  }

  .download__wrap {
    width: 300px;
    margin: 0 auto;
  }

  .download__text {
    font-size: 18px;
    margin-top: 33px;
  }
}

@media (min-width: $desktop-width) {
  .download {
    margin-top: -404px;
    margin-bottom: 122px;
    margin-left: -640px;
    padding: 0;
  }

  .download__wrap {
    width: 300px;
    margin: 0 auto;
  }

  .download__button {
    font-size: 21px;
    margin-bottom: 67px;
  }

  .download__list {
    margin-bottom: 51px;
  }

  .download__text {
    font-size: 18px;
  }
}
