.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 78px;
  }

  .effect__wrap {
    display: flex;
    justify-content: flex-end;
    width: 620px;
    margin: 0 auto;
  }

  .effect__timer {
    position: relative;
    width: 177px;
    height: 149px;
    font-size: 96px;
    font-weight: 700;
    color: #d22856;
    border: 13px solid #d22856;
    border-radius: 50%;
    margin-top: 18px;
    margin-right: 88px;
    padding-top: 28px;

    // &::before {
    //   position: absolute;
    //   content: "";
    //   top: 0;
    //   left: 0;
    //   width: 100px;
    //   height: 100px;
    //   background: url("../img/icon-timer.svg") no-repeat 0 50%;
    // }
  }

  .effect__text-block {
    width: 300px;
    text-align: left;
    margin-right: 11px;
  }

  .effect__title {
    width: 168px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin: 0;
    margin-bottom: 10px;
  }

  .effect__description {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 11px;
  }

  .effect__link {
    font-size: 14px;
    line-height: 24px;
    color: #d22856;
    text-decoration: underline;
  }

  .effect__description-br:nth-of-type(1) {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    display: block;
    background-color: $background-color-block;
    padding-top: 98px;
    padding-bottom: 90px;
  }

  .effect__wrap {
    display: flex;
    justify-content: flex-end;
    width: 940px;
    margin: 0 auto;
  }

  .effect__text-block {
    width: 530px;
    text-align: left;
    margin-right: 43px;
  }

  .effect__title {
    width: auto;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    margin: 0;
    margin-bottom: 25px;
  }

  .effect__description {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 31px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
    color: #d22856;
  }

  .effect__title-br {
    display: none;
  }

  .effect__description-br:nth-of-type(1) {
    display: block;
  }

  .effect__description-br:nth-of-type(2) {
    display: none;
  }

  .effect__timer {
    width: 218px;
    height: 185px;
    font-size: 120px;
    color: #d22856;
    border: 17px solid #d22856;
    border-radius: 50%;
    margin-top: -23px;
    margin-right: 90px;
    padding-top: 34px;
    padding-right: 3px;
  }
}
