.form {
  text-align: left;
  margin-bottom: 16px;
}

.form__list {
  margin: 0;
  padding: 0;
}

.form__label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  margin-left: 23px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.form__label-os {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  color: $color-text;

  &::before {
    position: absolute;
    content: "";
    top: -7px;
    left: -70px;
    width: 35px;
    height: 35px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    background-color: #ffffff;
  }
}

.form__fieldset-wrap {
  background-color: $background-color-block;
  padding-top: 40px;
  margin-bottom: 32px;
}

.form__fieldset {
  border: none;
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.form__fieldset-contacts {
  margin-bottom: 25px;
}

.form__fieldset-os {
  margin-top: -2px;
  margin-bottom: 39px;
  padding-bottom: 3px;
}

.form__legend {
  width: 250px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  margin-bottom: 42px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form__submit {
  display: block;
  width: 280px;
  min-height: 63px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;
  background-color: #2aab6d;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  margin: 0 auto;
  margin-bottom: 35px;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: hsla(0, 0, 100%, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.form__required {
  display: block;
  min-width: 185px;
  font-size: 14px;
  line-height: 30px;
  color: $color-text;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.form__required-star {
  color: #d22856;
}

.form__required-span {
  display: none;
}

.form__input::placeholder {
  font-family: $font-stack;
  font-size: 18px;
  line-height: 30px;
  color: $color-text;
  opacity: 1;
}

.form__input {
  width: 255px;
  font-size: 18px;
  color: $color-text;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  padding-top: 19px;
  padding-right: 0;
  padding-bottom: 19px;
  padding-left: 21px;
  margin-bottom: 17px;

  &:hover {
    border-color: $color-text;
  }

  &:active {
    border-color: #d22856;
  }
}

.form__input-emotions {
  width: 259px;
  min-height: 180px;
  margin-bottom: 45px;
  padding-top: 14px;
  padding-left: 19px;
}

.form__data {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.form__item {
  min-height: 39px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  padding-left: 46px;
}

.form__input-achievement,
.form__input-os {
  opacity: 0;
}

.form__item-achievement {
  margin-bottom: 43px;
}

.form__label-achievement {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -7px;
    left: -70px;
    width: 35px;
    height: 35px;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    background-color: #ffffff;
  }
}

.form__label-achievement:hover::before,
.form__label-os:hover::before {
  border-color: $color-text;
}

.form__label-achievement:active::before,
.form__label-os:active::before {
  border-color: #d22856;
}

.form__item-achievement:nth-last-child(1) {
  margin-bottom: 38px;
}

.form__input-achievement:checked + .form__label-achievement::after {
  position: absolute;
  content: "";
  top: 4px;
  left: -62px;
  width: 25px;
  height: 25px;
  background: url("../img/icon-yes.svg") no-repeat 50% 0;
}

.form__input-os:checked + .form__label-os::after {
  position: absolute;
  content: "";
  top: 4px;
  left: -58px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;
}

.form__label-achievement,
.form__label-os {
  font-size: 18px;
  line-height: 30px;
  color: $color-text;
}

.form__legend-os {
  margin-bottom: 40px;
}

.form__legend-emotions {
  margin-bottom: 16px;
}

.form__legend--modifier {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 52px;
  }

  .form__data {
    width: 620px;
    background-color: #ffffff;
    margin-bottom: 8px;
  }

  .form__fieldset-wrap {
    width: 620px;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }

  .form__fieldset-contacts .form__input {
    padding-left: 18px;
  }

  .form__label {
    margin-right: 18px;
    margin-left: 0;
  }

  .form__data-item .form__label {
    margin-top: 17px;
  }

  .form__input {
    width: 500px;
    margin-bottom: 52px;
  }

  .form__input--modifier {
    width: 540px;
  }

  .form__fieldset {
    width: 558px;
    border: 2px solid #e6e6e6;
    margin-bottom: 57px;
    padding-left: 58px;
    padding-bottom: 14px;
  }

  .form__legend--modifier {
    display: block;
    margin-bottom: 37px;
    margin-left: 120px;
  }

  .form__legend {
    width: auto;
    padding: 0 30px;
  }

  .form__legend-os {
    margin-bottom: 48px;
    margin-left: 65px;
    padding: 0 26px;
  }

  .form__input-contacts {
    width: 479px;
    margin: 0;
    margin-bottom: 10px;
  }

  .form__contacts-wrap {
    position: relative;
    display: flex;
    flex-direction: column-reverse;

    &::before {
      position: absolute;
      content: "";
      top: 2px;
      right: 59px;
      width: 61px;
      height: 59px;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: 48% 50%;
      background-color: #e5e5e5;
    }
  }

  .form__contacts-wrap:nth-child(2)::before {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 48% 50%;
    background-color: #e5e5e5;
  }

  .form__label-contacts {
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .form__contacts-wrap:nth-last-child(1) .form__label-contacts {
    margin-bottom: 11px;
  }

  .form__input-emotions {
    width: 477px;
    min-height: 155px;
    margin-bottom: 34px;
  }

  .form__submit-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 620px;
    margin: 0 auto;
    margin-top: 9px;
  }

  .form__submit {
    width: 300px;
    margin: 0;
  }

  .form__required {
    margin: 0;
    margin-top: 5px;
    margin-right: -3px;
  }

  .form__block:nth-child(1) {
    order: -3;
  }

  .form__block:nth-child(3) {
    order: -1;
  }

  .form__block:nth-child(4) {
    order: -2;
  }

  .form__item {
    padding-left: 35px;
    margin-bottom: 36px;
  }

  .form__legend-achievement {
    margin-bottom: 48px;
    margin-left: 33px;
  }

  .form__item-achievement {
    margin-bottom: 43px;
  }

  .form__item-achievement:nth-last-child(1) {
    margin-bottom: 30px;
  }

  .form__legend-emotions {
    margin-bottom: 37px;
    margin-left: 127px;
  }

  .form__label-os::before,
  .form__label-achievement::before {
    left: -60px;
  }

  .form__input-achievement:checked + .form__label-achievement::after {
    left: -51px;
  }

  .form__input-os:checked + .form__label-os::after {
    top: 5px;
    left: -47px;
  }

  .form__data-item {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    width: 940px;
    margin-bottom: 71px;
  }

  .form__data {
    width: 436px;
    margin: 0;
    margin-top: 15px;
  }

  .form__input {
    width: 316px;
    margin-bottom: 52px;
    padding-left: 19px;

    &--modifier {
      width: 356px;
    }
  }

  .form__label {
    margin-right: 19px;
  }

  .form__legend-emotions {
    margin-bottom: 34px;
    margin-left: 281px;
  }

  .form__fieldset {
    width: 936px;
    padding-right: 58px;
  }

  .form__fieldset-wrap {
    width: auto;
  }

  .form__fieldset-os {
    width: 357px;
    min-height: 300px;
    margin: 0;
    margin-bottom: 57px;
    padding-left: 74px;
    padding-right: 0;
    padding-bottom: 5px;
  }

  .form__legend {
    width: auto;
    padding: 0 37px;

    &--modifier {
      margin-bottom: 34px;
      margin-left: 274px;
    }
  }

  .form__legend-os {
    padding: 0 19px;
    margin-bottom: 50px;
    margin-left: -38px;
  }

  .form__fieldset-achievement {
    width: 820px;
    padding-bottom: 0;
  }

  .form__list-achievement {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 171px;
  }

  .form__item-achievement {
    min-width: 273px;
    margin-bottom: 44px;
    padding-left: 42px;
  }

  .form__item-achievement:nth-of-type(5),
  .form__item-achievement:nth-of-type(6) {
    min-width: auto;
    margin-left: -20px;
  }

  .form__input-emotions {
    width: 798px;
    min-height: 110px;
    padding: 0;
    padding-top: 15px;
    padding-left: 18px;
    margin: 0;
    margin-bottom: 26px;
  }

  .form__submit-wrap {
    width: 940px;
    margin-top: 7px;
  }

  .form__required-span {
    display: inline-block;
  }

  .form__required {
    min-width: 315px;
    margin-right: 1px;
  }

  .form__contacts-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form__fieldset-contacts {
    padding-bottom: 13px;
  }

  .form__input-contacts {
    width: 353px;
    margin-bottom: 10px;
  }

  .form__label-contacts {
    margin-bottom: 0;
  }

  .form__contacts-wrap:nth-last-child(1) .form__label-contacts {
    margin-bottom: 0;
  }

  .form__contacts-wrap::before {
    right: 0;
  }

  .form__item {
    padding-left: 37px;
  }

  .form__input-os {
    margin-left: 3px;
  }

  .form__legend-achievement {
    margin-left: 186px;
  }
}
