.page-main {
  padding-top: 42px;
  text-align: center;
}

.page-main__title {
  font-weight: 300;
  font-size: 24px;
  color: $color-text;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.page-main > .page-main__title {
  margin-bottom: 32px;
}

.page-main__text {
  width: 260px;
  font-size: 14px;
  line-height: 30px;
  color: $color-text;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 48px;
  padding-right: 2px;
}

.page-main__text--form {
  width: 280px;
  margin-bottom: 34px;
}

.page-main__text-span--modifier {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    width: 620px;
    font-size: 40px;
    margin: 0 auto;
    margin-top: 5px;
  }

  .page-main__text {
    width: 450px;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 30px;

    &--modifier {
      margin-bottom: 75px;
    }
  }

  .page-main__title--modifier {
    font-size: 40px;
    width: 480px;
    margin-bottom: 50px;
  }

  .page-main__text--form {
    width: 500px;
  }

  .page-main__text-span--modifier {
    display: inline-block;
  }

  .page-main > .page-main__title {
    margin-bottom: 0;
  }

  .page-main__title:nth-of-type(2) {
    margin-bottom: 50px;
  }

  .page-main--modifier {
    padding-top: 92px;
  }

  .page-main__text-br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    width: 820px;
    font-size: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .page-main__text {
    width: 780px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .page-main__title--modifier {
    font-size: 50px;
    width: 500px;
    margin-bottom: 50px;
  }

  .page-main__text-span--modifier {
    display: inline-block;
  }
}
