.photos-users__item {
  background-color: $background-color-block;
}

.photos-users__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $color-text;
}

.photos-users__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: $color-text;
}

.photos-users__comment {
  font-size: 14px;
  line-height: 24px;
  color: $color-text;
}

.photos-users__like {
  font-size: 12px;
  line-height: 24px;
  color: hsl(344, 81%, 48%);
}
