.prices {
  position: relative;
  background-color: $background-color-block;
  overflow-x: hidden;
  padding-top: 93px;
  margin-bottom: 45px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;
  }
}

.prices__wrap {
  width: 320px;
  overflow-x: hidden;
  margin: 0 auto;
}

.prices__list {
  border-collapse: collapse;
  table-layout: fixed;
  width: calc(280% - 320px);
  margin-left: calc(-100% + 62px);
}

.prices__title {
  position: relative;
  width: 275px;
  height: 95px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  background-color: $color-text;
  border-right: 2px solid #e5e5e5;
  color: #ffffff;
  text-transform: uppercase;
}

.prices__span {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.prices__cell {
  height: 55px;
  font-size: 14px;
  line-height: 30px;
  background-color: #ffffff;
  color: $color-text;
  text-align: left;
  text-transform: uppercase;
  padding-left: 22px;
  border: 2px solid #e5e5e5;
}

.prices__nav {
  padding-top: 40px;
  padding-bottom: 47px;
}

.prices__row:nth-child(2) .prices__cell {
  border-top: none;
}

.prices__row:nth-child(1) .prices__cell:nth-child(1) {
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
}

.prices__title:nth-of-type(1) {
  border-radius: 2px 0 0 2px;
}

.prices__title:nth-last-child(1) {
  border-right: none;
}

.prices__nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 12px;
  margin: 0 auto;
}

.prices__label {
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;
}

.prices__label:hover {
  background-color: #7e868f;
}

.prices__label:active {
  background-color: #e9ebec;
}

.prices__input:checked + .prices__label {
  background-color: #ffffff;
  border: 3px solid $color-text;
}

.prices__icon {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 13px;
    right: 17px;
    width: 31px;
    height: 30px;
    background-image: url("../img/icon-yes-green.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: contain;
  }
}

.prices__icon-no::before {
  position: absolute;
  content: "";
  top: 12px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.prices__title-hit {
  position: absolute;
  top: 12px;
  left: 9px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  transform: rotate(-45deg);

  &::before {
    position: absolute;
    content: "";
    top: -6px;
    left: -22px;
    width: 75px;
    height: 75px;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;
    transform: rotate(45deg);
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .prices__list {
    width: 620px;
    margin: 0 auto;
  }

  .prices__title {
    width: auto;
    height: 71px;
    font-size: 16px;
    padding-top: 8px;
  }

  .prices__title-hit {
    position: absolute;
    top: 5px;
    left: 7px;

    &::before {
      top: -1px;
      left: -19px;
      width: 62px;
      height: 62px;
      background-image: url("../img/bg-hit-tablet.svg");
      background-repeat: no-repeat;
      background-position: 50% 0;
    }
  }

  .prices__span {
    font-size: 18px;
  }

  .prices__row:nth-child(1) .prices__cell:nth-child(1) {
    background-color: transparent;
  }

  .prices__cell {
    text-transform: none;
    padding-left: 15px;
    height: 42px;
  }

  .prices {
    margin-bottom: 49px;
    padding-top: 85px;
    padding-bottom: 68px;
  }

  .prices__nav {
    display: none;
  }

  .prices__cell-span {
    display: none;
  }

  .prices__icon::before {
    top: 7px;
    right: 59px;
  }

  .prices__wrap {
    width: 100%;
    overflow-x: auto;
  }
}

@media (min-width: $desktop-width) {
  .prices__title {
    height: 96px;
    font-size: 18px;
    padding-top: 0;
  }

  .prices__span {
    font-size: 24px;
  }

  .prices__cell {
    font-size: 18px;
    text-transform: none;
    padding-left: 21px;
    height: 57px;
  }

  .prices__list {
    width: 940px;
    margin: 0 auto;
  }

  .prices {
    padding-top: 138px;
    padding-bottom: 95px;
    margin-bottom: 65px;
  }

  .prices__icon::before {
    top: 13px;
    right: 100px;
  }

  .prices__title-hit {
    position: absolute;
    top: 12px;
    left: 11px;

    &::before {
      top: -5px;
      left: -22px;
      width: 74px;
      height: 74px;
      background-image: url("../img/bg-hit.svg");
      background-repeat: no-repeat;
      background-position: 50% 0;
    }
  }
}
