.prices {
  background-color: $background-color-block;
}

.prices__title {
  width: 280px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  background-color: $color-text;
  color: hsl(0, 0, 100%);
}

.prices__span {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.prices__cell {
  width: 280px;
  font-size: 14px;
  line-height: 30px;
  background-color: hsl(0, 0, 100%);
  color: $color-text;
}

.prices__list {
  // width: 840px;
  margin: 0 auto;
}
