.reviews__author-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  color: $color-text;
}

.reviews__wrap {
  width: 280px;
  margin: 0 auto;
}

.reviews__author-info {
  display: none;
}

.reviews__item {
  margin: 0;
  margin-bottom: 33px;
}

.reviews__nav {
  margin: 0 auto;
  margin-bottom: 40px;
}

.reviews__nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 12px;
  margin: 0 auto;
}

.reviews__label {
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;
}

.reviews__label:hover {
  background-color: #7e868f;
}

.reviews__label:active {
  background-color: #e9ebec;
}

.reviews__input:checked + .reviews__label {
  background-color: #ffffff;
  border: 3px solid $color-text;
}

@media (min-width: $tablet-width) {
  .reviews__author-info {
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: $color-text;
    margin: 0;
  }

  .reviews__wrap {
    width: 620px;
    margin: 0 auto;
  }

  .reviews__author-name {
    font-size: 20px;
    line-height: 30px;
    margin-top: -1px;
    margin-bottom: 3px;
  }

  .reviews__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 37px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__nav {
    margin-bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__author-info {
    display: block;
    font-size: 18px;
  }

  .reviews__wrap {
    position: relative;
    width: 780px;
    margin: 0 auto;
    padding-top: 88px;

    &::before {
      position: absolute;
      content: "";
      top: -10px;
      left: 50%;
      width: 90px;
      height: 70px;
      background: url("../img/icon-quotes.svg") no-repeat 0 50%;
      margin-left: -35px;
    }
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }
}
