.specifications {
  position: relative;
  background-color: $background-color-block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.specifications__title {
  font-size: 18px;
  line-height: 10px;
  font-weight: 400;
}

.specifications__description {
  font-size: 14px;
  line-height: 24px;
  color: $color-text;
}

.specifications__wrap {
  width: 280px;
  margin: 0 auto;
}

.specifications__list {
  margin: 0;
  padding: 0;
}

.specifications__item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


@media (min-width: $tablet-width) {
  .specifications__wrap {
    display: flex;
    justify-content: flex-end;
    width: 620px;
    margin: 0 auto;
  }

  .specifications__list {
    width: 310px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .specifications__wrap {
    width: 940px;
    margin: 0 auto;
    padding-left: 0;
  }

  .specifications__list {
    display: flex;
    justify-content: space-between;
    width: 940px;
    text-align: center;
  }

  .specifications__item {
    width: 248px;
  }

  .specifications__title {
    width: 240px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }

  .specifications__description {
    font-size: 18px;
    line-height: 30px;
  }
}
